* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 60%;
  max-width: 1400px;
  background-color: white;
  margin: 50px auto;
  display: flex;
}

.left-content {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left-content p:first-child{
    display: inline-block;
    margin-bottom: 10px;
    color: #4b4b4b;
}

.left-content p:nth-child(2){
    color:#939393;
}

.left-content p:nth-child(2) a{
    color: #6597eb;
    text-decoration: none;
}

.form{
    margin-top: 20px;
    width: 100%;
}

.input-field{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.input-field>img{
    position: absolute;
    top: 13px;
    left: 20px;
}

.input-field>input{
    width: 100%;
    display: inline-block;
    padding: 15px 20px;
    padding-left: 50px;
    outline: 0;
    border: 1px solid #b3b3b3;
}

.input-field>input::placeholder{
    color:#cecece;
    font-size: 15px;
}

.more-info{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.left-info{
    color: #d3d3d3;
    display: inline-block;
    font-size: 15px;
}

.tick-box{
    border: 1px solid;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}

input[type=checkbox]{
    transform: scale(1.3);
    margin-top: 2px;
    opacity: 0.6;
    margin-left: 1px;
}

.right-info{
    font-size: 15px;
    float: right;
}

.right-info>a{
    text-decoration: none;
    color: #528ae9
}

.more-info{
    display: block;
}

.submit-btn{
    background-color: #afafaf;
    display: block;
    width: 100%;
    outline: 0;
    padding: 15px;
    border: 1px solid #afafaf;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-btn a{
    text-decoration: none;
    color: #eaeaea;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #d5d5d5;
    margin-bottom: 20px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d5d5d5;
}
.separator::before {
    margin-right: .75em;
}
.separator::after {
    margin-left: .75em;
}

.login-fb{
    background-color: #4267b2;
}

.login-gg{
    background-color: #db4437;
}

.right{
    background-color: #ededed;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: url("../../../assets/images/default_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.left{
    flex: 1;
}
