<div id="container" class="br4 clearfix">
    <div class="fl w-60 left">
        <div class="left-content">
            <p class="helvetica  f2">Welcome Back</p>
            <p class="helvetica">New user? <a href="#">Create an account</a></p>
            <div class="form">
                <div class="input-field helvetica">
                    <img src="../../../assets/images/envelope_icon.png" alt="E-mail">
                    <input type="text" placeholder="Email Address" class="br-pill">
                </div>
                <div class="input-field helvetica">
                    <img src="../../../assets/images/lock_icon.png" alt="Password">
                    <input type="text" placeholder="Password" class="br-pill">
                </div>
                <div class="more-info">
                    <div class="left-info helvetica"> <input type="checkbox" class="tick-box"> Remember Me</div>
                    <div class="right-info helvetica"><a href="#">Forgot Password</a></div>
                </div>
                <button class="submit-btn helvetica br-pill">
                    <a href="#">Login</a> 
                </button>
                <div class="separator helvetica">OR</div>
                <button class="submit-btn login-fb helvetica br-pill">
                    <a href="#">Login with Facebook</a>
                </button>
                <button class="submit-btn login-gg helvetica br-pill">
                    <a href="#">Login with Google</a>  
                </button>
            </div>
        </div>
    </div>
    <div class="fl w-40 right br--right"></div>
</div>